* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
  }

body{
    background: var(--body-bg-color);
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--text-color)
}
.profile{
    display: block;
    width: 348px;
    height: 292px;
    border-radius: 20px;
    background: var(--bg-cards);
    text-align: center;
    margin: 40px 60px 30px 40px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
    
}

.profile img{
    width: 128px;
    height: 128px;
    margin: 32px 110px 30px 110px;
}
.profile h3{
    font-size: 23px;
    font-weight: 700;
    height: 26px;
    margin-bottom:10px ;
}
.profile p{
    font-size: 13px;
    font-weight: 300;
    height: 17px;
    

}
.social-links{
    display: block;
    width: 348px;
    height: 100%;
    background: var(--bg-cards);
    border-radius: 20px;
    margin: 0px 60px 30px 40px;
    padding: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
}
.social-links img{
    width: 24px;
    height: 24px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 10px;
    
}
.social-links div p{
    display: inline;
    width: 100%;
    position: absolute;
    font-size: 13px;
    top: 3px;
}
.social-links a{
    color: var(--text-color);
    text-decoration: none;

}
.social-links div {
    position: relative;
}

.techs-card{
    display: block;
    width: 348px;
    border-radius: 20px;
    height: 100%;
    background: var(--bg-cards);
    margin: 0px 60px 30px 40px;
    padding: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
    
}
.techs-card h2{
    font-size: 20px;
    font-weight: 700;
    width: 121px;
    height: 26px;
    position: relative;
    
}

.techs {
    display: inline-block;
    width: 86px;
    height: 24px;
    border-radius: 30px;
    background: var(--bg-techs);  
    text-align: center;
    margin-top: 20px;
    margin-right: 5PX ;
}
.techs p{
    position: relative;
    top: 5px;
    font-size: 10px;
    font-weight: 700;
    color: #000;
    width: 86px;
    height: 11px;
}
.card {
    display: block;
    width: 348px;
    height: 100%;
    background: var(--bg-cards);
    border-radius: 20px;
    margin: 0px 60px 30px 40px;
    padding: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
}
.card h2{
    font-size: 20px;
    font-weight: 700;
    width: 121px;
    height: 26px;
    position: relative;
}
.card ul{
    list-style-position: inside;
    margin-top: 10px;
    line-height: 26px;
}
.card dd{
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 22px;
    margin: 2px;
}
.card p{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 22px;
}

.content-main{
    position: absolute;
    top: 40px;
    left: 600px;
    height: 100%;
    
}

.project-tittle{
    width: 952px;
    height: 86px;
    grid-column-start: 3;
    background: var(--bg-cards);
    padding: 30px;
    border-radius: 20px;
}
.projects{
    width: 100%;
    height: 100%;
    margin-top:30px ;
    
}
.project-card{
    display: inline-block;
    padding: 30px;
    background: var(--bg-cards);
    border-radius: 20px;
    width: 461px;
    height: 186px;
}
.project-card img{
    width: 20px;
    height: 20px;
}
.project-card h3{
   
    width: 79px;
    height: 17px; 
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}